.cover-all {
    background-color: #444444;
    padding: 50px 30px; 
    margin-top: 30px;
    h3 {
        font-size: 27px;
        font-weight: normal;
        color: #fbfbfb;
        margin: 0 0 15px 0;
        text-transform: uppercase;
        text-align: center;
        @media(max-width:768px) {
            font-size: 18px;
        }
    }

    p { 
        font-size: 15px;
        color: #fbfbfb;
        margin-bottom: 15px;
    }
}