.games {
    h1 {
        text-align: center;
        margin-bottom: 22px;
        font-size: 27px;
        color: #fbfbfb;
        text-transform: uppercase;
        font-weight: normal;
        @media(max-width:768px) {
            font-size: 19px;
            margin-top: 30px;
        }
    }

    .games__guide {
        margin-bottom: 20px;
        #games__guide--links {
            display: flex;
            li {
                a {
                    padding: 13px 30px;
                    background-color: transparent;
                    color: #a3a3a3;
                    font-size: 12px;
                    display: inline-block;
                    text-transform: uppercase;
                    font-weight: bold; 
                    @media(max-width:768px) {
                        padding: 13px 10px;
                    }
                    &:hover {
                        background-color: #444444;
                        color: $white;
                    }
                }
            }

            .active {
                a {
                    background-color: #444444;
                    color: $white;
                }
            }
        }
    }

    .games__guide--item {
        padding: 25px 20px;
        background-color: #444444;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
        .link-item {
            font-size: 15px;
        }
    }
    
}