.casino-review {
    .r-cover {
        background-color: #444444;
        padding: 50px 0px 70px 0px;
        @media(max-width:768px) {
            background-color: transparent;
            padding: 0px 0px 20px 0px;
        }

        h1 {
            text-align: center;
            color: #fbfbfb;
            font-size: 27px;
            text-transform: uppercase;
            font-weight: normal;
            margin-bottom: 0px;
            @media(max-width:768px) {
                font-size: 19px;
                margin-bottom: 15px;
                margin-top: 30px;
            }
        }
    
        .casino-review__hotel {
            display: flex;
            border-bottom: solid 2px rgba(0,0,0,0.3);
            padding: 0px 24px 55px 30px;
            @media(max-width:992px) {
                flex-direction: column-reverse;
                border: none;
                justify-content: center;
                align-items: center;
            }
            @media(max-width:768px) {
                padding: 0px;
            }
            

            .casino-review__hotel--text {
                width: 74%;
                padding-top: 31px;
                padding-right: 54px;
                @media(max-width:992px) {
                    width: 100%;
                    padding-right: 0px;
                }

                p {
                    font-size: 15px;
                    color: #fbfbfb;
                    margin-bottom: 15px;
                }
            }
    
            .casino-review__hotel--item {
                width: 26%;
                text-align: center;
                @media(max-width:992px) {
                    width: 35%;
                }
                @media(max-width:768px) {
                    background-color: #444444;
                    padding: 20px 10px; 
                    width: 95%;
                }

                p {
                    padding: 0px 0px;
                    margin-top: 21px;
                    margin-bottom: 15px;
                    font-size: 16px;
                    font-weight: 300;
                }
    
                span {
                    font-size: 46px;
                    font-weight: 300;
                    letter-spacing: -1.7px;
                    margin-bottom: 10px;
                    display: inline-block;
                }
    
                a {
                    width: 203px;
                    height: 50px;
                    border-radius: 3px;
                    background-color: #2c7af6;
                    font-size: 21px;
                    font-weight: 600;
                    text-transform: uppercase;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $white;
                    margin: 0 auto;
                }
            }
        }
    
        .casino-review__desc {
            padding: 0px 24px 0px 30px;
            margin-top: 50px;
            @media(max-width:768px) {
                padding: 0px;
            }

            .casino-review__desc--title {
                p {
                    margin-bottom: 31px;
                    font-size: 27px;
                    text-align: center;
                    color: #fbfbfb;
                    @media(max-width:768px) {
                        font-size: 18px;
                    }
                }
            }
    
            .casino-review__desc--item {
                p {
                    font-size: 15px;
                    color: #fbfbfb;
                    margin-bottom: 10px;
                }
            }
        }
    
        .button-cover {
            margin-top: 60px;
            display: flex;
            justify-content: center;
            
            a {
                font-size: 21px;
                font-weight: 600;
                color: $white;
                text-transform: uppercase;
                width: 273px;
                height: 50px;
                border-radius: 3px;
                background-color: #2c7af6;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}