// Global styles.

/*
    nested classes allowed only 2 levels.
    camel case class names.
*/

// js- { prefixed classes are javascript hooks }
// c- { prefixed classes are components }
// m- { prefixed classes are module }
// u- { prefixed classes are utility }
// g- { prefixed classes are global components }

body {
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    background-color: $bg-body;
    color: $white;
}

.container {
    @media(max-width:768px) {
        padding: 0px 15px !important;
    }
}

ul,li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a, a:hover, a:focus {
    text-decoration: none;
}

p {
    margin: 0;
    padding:0;
}

input, textarea, button {
    border: none;
    &:focus {
        outline: none;
    }
}

header {
    background-color: #202020;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.28);
    margin-bottom: 67px;
    @media(max-width:768px) {
        margin-bottom: 0px;
    }

    .h-cover {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .h-logo {
            img {
                @media(max-width:768px) {
                    display: none;
                }
            }
            .h-logo__mobile {
                display: none;
                @media(max-width:768px) {
                    display: block;
                }
            }
        }

        .h-navigation {
            @media(max-width:768px) {
                display: none;
            }
            ul {
                display: flex;
                li {
                    a {
                        text-transform: uppercase;
                        font-size: 13px;
                        font-weight: 500;
                        color: #bdbdbd;
                        padding: 31px 20px;
                        display: inline-block;
                        transition-duration: 0.25s;
                        &:hover {
                            background-color: #2a2a2a;
                            color: $white;
                        }
                    }

                    .active {
                        background-color: #2a2a2a;
                        color: $white;
                    }
                }
            }
        }

        .menu-button {
            display: none;
            padding: 30px 0px;
            @media(max-width:768px) {
                display: block;
            }
        }
    }
}

footer {
    background-color: #202020;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.28);
    margin-top: 45px;
    padding: 60px 0px 53px 0px;

    .f-cover {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width:768px) {
            flex-direction: column-reverse;
        }

        .f-logo {
            @media(max-width:768px) {
                display: flex;
            }

            img {
                @media(max-width:768px) {
                    display: none;
                }
            }

            .f-logo__mobile {
                display: none;
                margin-right: 17px;
                @media(max-width:768px) {
                    display: block;
                }
            }

            p {
                font-size: 15px;
                color: #bfc4ce;
                margin: 10px 0px;
            }

            span {
                font-size: 15px;
                color: #bfc4ce;
                margin-top: 10px;
                @media(max-width:768px) {
                    display: inline-block;
                    margin-left: 5px;
                }
            }
        }

        .f-navigation {
            display: flex;
            @media(max-width:768px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 35px;
            }

            .f-navigation__item {
                margin-right: 225px;
                @media(max-width:992px) {
                    margin-right: 50px;
                }
                @media(max-width:768px) {
                    margin: 0px;
                }

                ul {
                    @media(max-width:768px) {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }

                    li {
                        a {
                            font-size: 15px;
                            color: #bfc4ce;
                            margin: 10px 0px;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}

.hotelList {
    background-color: #444444;
    margin-bottom: 60px;
    @media(max-width:768px) {
        background-color: transparent;
    }
    .hotelList__item {
        padding: 29px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid $black;
        @media(max-width:768px) {
            background-color: #444444;
            border: none;
            margin-bottom: 20px;
            flex-wrap: wrap;
        }

        .hotelList__item--image {
            width: 147px;
            height: 86px;
            background-color: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            @media(max-width:768px) {
               width: 100%;
               margin: 0px 15% 15px 15%;

            }
            
        }

        .hotelList__item--address {
            text-align: center;
            width: 35%;
            @media(max-width:768px) {
                width: 100%;
                margin-bottom: 22px;
            }

            span {
                font-size: 12px;
                text-transform: uppercase;
                margin-bottom: 10px;
                display: inline-block;
                @media(max-width:768px) {
                    display: none;
                }
            }

            p {
                font-size: 16px;
                font-weight: 300; 
                text-align: center;
                padding: 0px 20px;
                margin-bottom: 0px;
            }
        }

        .hotelList__item--rate {
            text-align: center;
            width: 16%;
            @media(max-width:768px) {
                width: 48%;
            }

            span {
                font-size: 12px;
                text-transform: uppercase;
                margin-bottom: 10px;
                display: inline-block;
                @media(max-width:768px) {
                    display: none;
                }
            }


            a {
                font-size: 13px;
                color: $white;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .hotelList__item--score {
            text-align: center;
            width: 16%;
            padding-top: 10px;
            @media(max-width:768px) {
                width: 48%;
            }

            span {
                font-size: 12px;
                text-transform: uppercase;
                margin-bottom: 0px;
                @media(max-width:768px) {
                    display: none;
                }
            }

            p {
                font-size: 46px;
                font-weight: 300;
                letter-spacing: -1.7px;
                margin-top: -5px;
                margin-bottom: 0px;
            }
        }

        .hotelList__item--link {
            @media(max-width:768px) {
                width: 100%;
                margin-top: 40px;
            }
            a { 
                border-radius: 3px;
                background-color: #2c7af6;
                text-transform: uppercase;
                color: $white;
                font-size: 21px;
                font-weight: 600;
                width: 203px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                @media(max-width:768px) {
                    margin: 0 auto;
                }
            }
        }
    }
}

.mobile-item {
    display: none;
    width: 100%;
    background-color: #202020;
    padding: 10px 0px;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        li {
            a {
                width: 190px;
                height: 50px;
                border-radius: 5px;
                background-color: transparent;
                font-size: 15px;
                font-weight: bold;
                text-transform: uppercase;
                color: $white;
                margin-bottom: 15px;
                display: flex;
                justify-content: center;
                align-items: center;

            }
        }

        .active {
            a {
                background-color: #2c7af6;
                box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3); 
            }
        }
    }
}