.reviews {
    h1 {
        margin-bottom: 30px;
        text-align: center;
        color: #fbfbfb;
        font-size: 27px;
        text-transform: uppercase;
        font-weight: normal;
        @media(max-width:768px) {
            font-size: 19px;
            margin-top: 30px;
        }
    }
}