.hotels {
    h1 {
        font-size: 27px;
        color: #fbfbfb;
        text-align: right;
        margin-bottom: 15px;
        text-transform: uppercase;
        font-weight: normal;
        @media(max-width:1200px) {
            font-size: 25px;
            text-align: center;
        }
        @media(max-width:768px) {
            font-size: 19px;
            margin-top: 35px;
        }
    }

    .hotels__text {
        @media(max-width:768px) {
            display: none;
        }
        p {
            font-size: 15px;
            color: #fbfbfb;
            margin-bottom: 30px;
            text-align: center;
            
        }
    }
    

    h2 {
        font-size: 27px;
        color: #fbfbfb;
        text-transform: uppercase;
        margin-bottom: 15px;
        @media(max-width:768px) {
            font-size: 18px;
        }
    }

    .hotels__bottomText {
        span {
            color: #fbfbfb;
            font-size: 15px;
            font-weight: 300;
            margin-bottom: 15px;
            display: inline-block;
            @media(max-width:768px) {
                font-size: 15px;
            }
        }
    }
    
}