// [[ Bootstrap defaults.
$icon-font-path: '../fonts/';
$grid-gutter-width: 0;
$container-large-desktop: 1100px;
// ]] Bootstrap defaults

$white:  #fff;
$black: #000000;
$bg-body: #272727;
$bg-button: #2c7af6;

